<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>105662906713-fgaqat71tkcnan55harq1v17b1hminvm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.105662906713-fgaqat71tkcnan55harq1v17b1hminvm</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>105662906713-mafmb64fjdot164fnbisu6npo3he0hs9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBrOiNbdtYsV-Apac-J9Y86QWuv8ApCJ0w</string>
	<key>GCM_SENDER_ID</key>
	<string>105662906713</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>icdatinnovations.com.nyscCampPlatoonSingle</string>
	<key>PROJECT_ID</key>
	<string>nysc-single-camp-template</string>
	<key>STORAGE_BUCKET</key>
	<string>nysc-single-camp-template.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:105662906713:ios:c0eb0ba33f011727808c48</string>
</dict>
</plist>